body{
font-family: 'Montserrat', 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 800;
}
h2{
    font-size: 30px;
}
.text-color{
    color: rgb(0, 115, 255);
}
#top-section{
    display: flex;
    
}
#home p{
    text-align: justify;
    margin-bottom: 40px;
}
.half-view{
    width: 40%;
    margin: 30px;
    padding: 30px;
}
#topView-img img{
    width: 100%;
}
.button{
    text-decoration: none;
    padding: 15px 45px 15px 45px;
    background-image:linear-gradient(rgb(158, 49, 241), rgb(47, 172, 250));
    color: aliceblue;
    font-weight: 900;
    border-radius: 20px;
}
#aboutme-section{
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    height: 480px;
}
#aboutme-section img{
    width:60%; 
    height: 420px;
    padding-left: 20%;
}
#aboutme-text p{
    margin-bottom: 100px;
}
#recipies{
    margin: 5% 5% 10% 5%;
}
#recipies-description{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;  
}
#items-list{
    display: flex;
}
.items{
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px auto 10px auto;
    padding: 2%;
    
}
.items img{
    width: 100%;
    height: 280px;
    border-radius: 20px;
    justify-content: center;
    object-fit: cover;
}
footer{
    background-color: black;
    color: gray;
    text-align: center;
    padding-top: 10px;
}
footer p{
    font-size: 20px;
    padding-bottom: 7%;
    color: aliceblue;
}
